<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>홀리데이</title>

  <!-- CSS  -->
  <link rel="shortcut icon"href="/icon.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>

<body>
  <nav class="blue lighten-3" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class="brand-logo">HoliDay</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">로그인</a></li>
        <li><a href="CHsignup.html">회원가입</a></li>
        <!--<li><a href="#">마이페이지</a></li>-->
        <li><a href="freetalk.html">자유게시판</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">로그인</a></li>
        <li><a href="CHsignup.html">회원가입</a></li>
        <li><a href="freetalk.html">자유게시판</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text">Holi Day</h1>
        <div class="row center">
          <h5 class="header col s12">How To Live Smart?</div>
        <div class="row center">
          <a href="https://804e70c0.ngrok.io" id="download-button" class="btn-large waves-effect waves-light teal">실시간 카페 현황보기</a>
        </div>
        <div class="center">
            <a href="http://linker.iptime.org/" id="download-button" class="btn-large waves-effect waves-light teal">나만의 커피 주문하기</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="back.jpg" width="100%" height="100%" alt="2018 마이다스 본선 사진"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">assignment_ind</i></h2>
            <h5 class="center">나만의 시그니쳐</h5>
            <p class="bold">내가 마실 커피 내가 직접 고르자! 원두부터 토핑까지 내가 직접 고르고 선택하는 홀리데이 커피</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">단체 예약도 OK!</h5>
            <p class="bold">답답한 사무실에서 벗어나 아늑하고 행복한 홀리데이에서 정기회의를 진행하시는건 어떤가요?</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">card_giftcard</i></h2>
            <h5 class="center">다양한 이벤트</h5>
            <p class="bold">마이다스아이티의 복지 만큼 다양한 홀리데이의 이벤트! 각종 할인 쿠폰부터 생일 이벤트 까지!</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 color="#2A0A29, bold">힘들고 지칠때 부모님이 가져다 주신 따뜻한<br>음료 한잔의 마음으로 제작합니다.</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="cof.jpg" alt="저작권 없는 커피 사진"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>오늘의 홀리메뉴</h4>
          
          <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="pring.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="cookie.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="choco.jpg"></a>
            <a class="carousel-item" href="#four!"><img src="pring.jpg"></a>
            <a class="carousel-item" href="#five!"><img src="fuut.jpg"></a>
          </div>

        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 color="#610B4B", "bold">지금 당장 카카오톡 옐로아이디를 추가하시면<br>다양한 이벤트를 받아 보실 수 있습니다.
          </h5>
          <a href="http://pf.kakao.com/_aSfvC" id="download-button" class="btn-large waves-effect waves-light teal">추가하기</a>
          
        </div>
      </div>
    </div>
    <div class="parallax"><img src="cof2.jpg" alt="저작권 없는 커피 사진"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
    
    </div>
    <center>
    <div class="footer">
      <div class="container">
      Made by <font size="3" class="brown-text text-black">훈훈한 웹솔루션 9조</font>
      </div>
    </div>
    </center>
  </footer>

 <!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.carousel');

});

// Or with jQuery

$(document).ready(function(){
  $('.carousel').carousel();
});
 </script>
  <!--머테리얼라이즈 패럴러즈 디자인 참고 사진은 직접찍은 마이다스 본선장-->

  </body>
</html>
