<html>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <body>
        <!-- ice coffee 추가 -->
        <form class="col s12" method="POST"> {% csrf_token %}
            <div class="row" id="addedCoffee">
                <div class="input-field col s8">
                    <select id="selectBox" name="bigKind">
                        <option value="coffee" selected="selected" >커피 종류</option>
                        <option value="beverage">음료 종류</option>
                        <option value="tea">차 종류</option>
                        <option id="notRadio" value="dessert">디저트 종류</option>
                    </select>
                    <label>메뉴 종류</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8" id="radio">
                    <p>
                        <label>
                            <input class="with-gap" name="group1" type="radio" value="hot"/>
                            <span>ice</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" name="group1" type="radio" value="ice"/>
                            <span>hot</span>
                        </label>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s8">
                    <input name="name" type="text">
                    <label for="newMenu">신메뉴</label>
                </div>
            </div>
            <div class="row">
                    <div class="input-field col s8">
                        <input name="price" type="number">
                        <label for="newMenu">가격</label>
                    </div>
                </div>
 
            <input type="submit" value="메뉴 추가하기">
        </form>
        <!-- 디저트 추가 -->

        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script type="text/javascript">
        
            $(document).ready(function(){
                $('select').formSelect();
                $('#selectBox').change(function(){
                    var state = $('#selectBox option:selected').val();
                    console.log(state);
                    if(state == 'dessert'){
                        $('#radio').hide();
                    } else {
                        $('#radio').show();
                    }
                });

            });

        </script>
    </body>
    
</html>
<style>
body {
    max-width: 560px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
}


</style>