<html>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <body>
            <div class="row">
                <form class="col s12" action="/Login/" method="POST"> {% csrf_token %}
                    <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name = "email" type="email" class="validate" required>
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                    </div>
                    </div>
    
                    <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name = "password" type="password" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                    </div>
                    <input type="submit" >
     
                </form>
            </div>        
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    </body>
 </html>

<style>
    body {
        max-width: 560px;
        margin-right: auto;
        margin-bottom: 60px;
        margin-left: auto;
    }
</style>
    